@font-face {
    font-family: '7digital';
    src: url(font/Calculator.ttf);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-1: #95bccc;
    --cor-2: #fcdcdc;
    --cor-3: #284c59;
    --cor-4: #000000;
    --cor-5: #beceda;
}

body {
    font-family: '7digital';
    font-weight: bold;
    background: linear-gradient(315deg, var(--cor-5) 8%, var(--cor-1) 92%);
    color: var(--cor-4);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#saida {
    padding: 1rem;
    height: 1rem;
    background-color: var(--cor-2);
    border: none;
    border-radius: 5px;
}

.container {
    background-color: var(--cor-3);
    color: var(--cor-3);
    border-radius: 4px;
    padding: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
}

.botoes {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.botao {
    border-radius: 5px;
    margin: 1px;
    border: none;
    padding: 1rem;
    background-color: var(--cor-2);
    cursor: pointer;
    transition: .2s;
    font-family: '7digital';
    font-weight: bold;
}

.botao:first-child {
    grid-column-start: 1;
    grid-column-end: 5;
}

.botao:hover {
    background-color: var(--cor-1);
}

#igual {
    background-color:  var(--cor-1);
}

#igual:hover {
    background-color:  var(--cor-5);
}